@{
    Style.Include("Style.css");
}
<div id="background"><div id="background-image"></div></div>
<div id="titleBar">
  <div align="center">@T("Jason Carter's Home Page")</div>
</div>
@Display(Model.Body)