@{
    Style.Include("Style.css");
}
<div id="background"><div id="background-image"></div></div>
<div id="titleBar">
    <div class="centered">@Display(Model.Title)</div>
</div>

<div id="body"> 
  <div class="centered">@Display(Model.Content)</div>
</div>
