
header {
    margin-top: 20px;
}
#top-nav {
    background-color: #333;
}
#top-nav img {
    width: 282px;
    height: 151px;
    /*margin-top: 13px;
    margin-bottom: 13px;*/
}

#photo-gallery-tile {
    display: inline-block;
    vertical-align: top;
    height: 282px;
    width: 282px;
    color: white;
    display: inline-block;
    text-decoration: none;
    position: relative;
    background-image: url('Images/gallery-butterfly-large.jpg');
    border: 2px solid white;
    margin: 0 4px 4px 0;
}

#menu-tiles {
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    width: 100%;
}

#menu-tiles a {
    width: 137px;
    height: 137px;
    margin: 0 4px 4px 0;
    background-color: #4682b4;
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    vertical-align: top;
    position: relative;
}

#menu-tiles a:hover, a#photo-gallery-tile:hover {
    border-color: gray;
}

#menu-tiles a span, #photo-gallery-tile span {
    display: inline-block;
    cursor: hand;
    cursor: pointer;
    text-align: right;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#photo-gallery-tile span {
    background: black;
    opacity: .7;
    filter: alpha(opacity=70);
}
#featured-tiles {
    display: inline;
    margin: 0;
    padding: 0;
}

#featured-tiles a {
    width: 282px;
}

#menu-tiles a#tile-1, #menu-tiles a#tile-2, #menu-tiles a#tile-5 {
    -webkit-transform-origin-x: -8px;
}

#menu-tiles a#tile-6 {
    -webkit-transform-origin-x: -130px;
}

#menu-tiles a#tile-3, #menu-tiles a#tile-4, #menu-tiles a#tile-7 {
    -webkit-transform-origin-x: -260px;
}

#tile-1.rightRotate {
    -webkit-transition: 200ms 0;
    -moz-transition: 200ms 0;
    -o-transition: 200ms 0;
    transition: 200ms 0;
}

#tile-2.rightRotate {
    -webkit-transition: 200ms 30ms;
    -moz-transition: 200ms 30ms;
    -o-transition: 200ms 30ms;
    transition: 200ms 30ms;
}

#tile-3.rightRotate {
    -webkit-transition: 200ms 60ms;
    -moz-transition: 200ms 60ms;
    -o-transition:  200ms 60ms;
    transition: 200ms 60ms;
}

#tile-4.rightRotate {
    -webkit-transition: 200ms 90ms;
    -moz-transition: 200ms 90ms;
    -o-transition: 200ms 90ms;
    transition: 200ms 90ms;
}

#tile-5.rightRotate {
    -webkit-transition: 200ms 120ms;
    -moz-transition: 200ms 120ms;
    -o-transition: 200ms 120ms;
    transition: 200ms 120ms;
}

#tile-6.rightRotate {
    -webkit-transition: 200ms 150ms;
    -moz-transition: 200ms 150ms;
    -o-transition: 200ms 150ms;
    transition: 200ms 150ms;
}

#tile-7.rightRotate {
    -webkit-transition: 200ms 180ms;
    -moz-transition: 200ms 180ms;
    -o-transition: 200ms 180ms;
    transition: 200ms 180ms;
}

.leftRotate {
    -webkit-transform: translate3d(0,0,0) rotateY(-90deg);
    -moz-transform: translate3d(0,0,0) rotateY(-90deg);
    -ms-transform: translate3d(0,0,0) rotateY(-90deg);
    -o-transform: translate3d(0,0,0) rotateY(-90deg);
    transform: translate3d(0,0,0) rotateY(-90deg);
    opacity: 0;
}

.rightRotate {
    -webkit-transform: translate3d(0,0,0) rotateY(0);
    -moz-transform: translate3d(0,0,0) rotateY(0);
    -ms-transform: translate3d(0,0,0) rotateY(0);
    -o-transform: translate3d(0,0,0) rotateY(0);
    transform: translate3d(0,0,0) rotateY(0);
    opacity: 1;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media (max-width: 769px) {
    #photo-gallery-tile {
        height: 137px;
        background-image: url('Images/gallery-butterfly-double.jpg');
    }
    #menu-tiles {
        display: inline;
        vertical-align: top;
    }
}
@media (max-width: 346px) {
    #photo-gallery-tile {
        height: 70px;
        width: 100%;
    }
    #featured-tiles a {
        width: 100%;
    }
    #menu-tiles a {
        width: 100%;
        height: 70px;
    }
}
@media (min-width: 770px) {
    #photo-gallery-tile {
        float: right;
    }
}
@media (min-width: 485px) and (max-width: 616px) {
    #featured-tiles {
        display: inline-block;
        width: 286px;
        float: left;
        margin-right: 4px;
    }
}
@media (min-width: 770px) {
    #title {
        font-size: 1em;
        width: 282px;
        position: absolute;
        height: 137px;
        top: 484px;
        right: 22px;
    }

    #title div {
        position: absolute;
        max-width: 230px;
        bottom: 10px;
        right: 10px;
        text-align: right;
    }
    header {
        margin-left: 20px;
    }
    
    #heading {
        font-size: 2.6em;
        text-align: right;
        width: 427px;
        min-height: 148px;
        position: relative;
    }
    #heading span {
        padding-right: 12px;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #top-nav {
        text-align: right;
        vertical-align: text-top;
        width: 282px;
        height: 100%;
        display: inline-block;
        margin-right: 22px;
        background-color: purple;
        float: right;
    }

    #menu-tiles {
        width: 435px;
    }
    #featured-tiles {
        display: inline-block;
        width: 286px;
        float: left;
        margin-right: 4px;
    }
}

@media (min-width: 347px) and (max-width: 484px) {
    #body {
        width: 290px;
        position: relative;
        left: 50%;
        margin-left: -165px;
    }
}
@media (min-width: 485px) and (max-width: 616px) {
    #body {
        width: 436px;
        position: relative;
        left: 50%;
        margin-left: -238px;
    }
}
@media (min-width: 617px) and (max-width: 769px) {
    #body {
        width: 582px;
        position: relative;
        left: 50%;
        margin-left: -311px;
    }
}